{{- $anyServiceHasActions := false -}}
{{- range .Services -}}
    {{- range .Methods -}}
      {{- if not (isTrigger .) -}}
        {{- $anyServiceHasActions = true -}}
      {{- end -}}
    {{- end -}}
{{- end -}}
{{- if $anyServiceHasActions -}}

package {{.GoPackageName}}mock

import (
    "context"
    "fmt"
    "testing"

    "google.golang.org/protobuf/types/known/anypb"
    {{ range .Services }}
        {{ range .Methods }}
            {{ if not (isTrigger .) }}
                {{ addImport .Input.GoIdent.GoImportPath "" }}
                {{ addImport .Output.GoIdent.GoImportPath "" }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ range allimports }}
    {{.}}
    {{ end }}

    sdkpb "github.com/smartcontractkit/chainlink-common/pkg/workflows/sdk/v2/pb"
    "github.com/smartcontractkit/cre-sdk-go/sdk/testutils/registry"
)

// avoid unused imports
var _ = registry.Registry{}
    {{ range .Services -}}
        {{ $service := . -}}
        {{- $hasActions := false -}}
        {{- range .Methods -}}
        {{- if not (isTrigger .) -}}
            {{- $hasActions = true -}}
          {{- end -}}
        {{- end -}}
        {{- if $hasActions }}
func New{{.GoName}}Capability(t testing.TB) (*{{.GoName}}Capability, error) {
    c := &{{.GoName}}Capability{}
    reg := registry.GetRegistry(t)
    err := reg.RegisterCapability(c)
    return c, err
}

type {{.GoName}}Capability struct {
        {{- range .Methods -}}
            {{- if not (isTrigger .) }}
    // TODO: https://smartcontract-it.atlassian.net/browse/CAPPL-799 add the default to the call
    {{.GoName}} func(ctx context.Context, input *{{ImportAlias .Input.GoIdent.GoImportPath}}.{{.Input.GoIdent.GoName}}) (*{{ImportAlias .Output.GoIdent.GoImportPath}}.{{.Output.GoIdent.GoName}}, error)
            {{- end -}}
       {{- end -}}
}

func (cap *{{.GoName}}Capability) Invoke(ctx context.Context, request *sdkpb.CapabilityRequest) *sdkpb.CapabilityResponse {
    capResp := &sdkpb.CapabilityResponse{}
    switch request.Method {
        {{- range .Methods }}
            {{- if not (isTrigger .) }}
    case "{{.GoName}}":
        input := &{{ImportAlias .Input.GoIdent.GoImportPath}}.{{.Input.GoIdent.GoName}}{}
        if err := request.Payload.UnmarshalTo(input); err != nil {
            capResp.Response = &sdkpb.CapabilityResponse_Error{Error: err.Error()}
            break
        }

        if cap.{{.GoName}} == nil {
            capResp.Response = &sdkpb.CapabilityResponse_Error{Error: "no stub provided for {{.GoName}}"}
            break
        }
        resp, err := cap.{{.GoName}}(ctx, input)
        if err != nil {
            capResp.Response = &sdkpb.CapabilityResponse_Error{Error: err.Error()}
        } else {
            payload, err := anypb.New(resp)
            if err == nil {
                capResp.Response = &sdkpb.CapabilityResponse_Payload{Payload: payload}
            } else {
                capResp.Response = &sdkpb.CapabilityResponse_Error{Error: err.Error()}
            }
        }
            {{- end }}
        {{- end }}
    default:
        capResp.Response = &sdkpb.CapabilityResponse_Error{Error: fmt.Sprintf("method %s not found", request.Method)}
    }

    return capResp
}

func (cap *{{.GoName}}Capability) ID() string {
    return "{{CapabilityId .}}"
}

        {{- end -}}
    {{- end -}}
{{- end -}}